.carousel-item {
    height: 92vh;
    background: #777;
    color: white;
    position: relative;
  }

  .container {
    position: absolute;
    bottom: 38%;
    left: 0;
    right: 0;
    
  }
.imgCustom{
  width:50%;
}
  .carousel-inner>.item {
    -webkit-transition: 0s !important;
    -o-transition: 0s !important;
    transition: 0s !important;
}
  /* .backgroundBlur{
      content:"";
      position: absolute;
      top: 0;
      left:0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity:0.5;

  } */